.light {
  --md-sys-color-primary: rgb(10 18 5);
  --md-sys-color-surface-tint: rgb(88 97 79);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(31 39 24);
  --md-sys-color-on-primary-container: rgb(134 143 123);
  --md-sys-color-secondary: rgb(89 93 84);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(114 118 108);
  --md-sys-color-on-secondary-container: rgb(251 254 242);
  --md-sys-color-tertiary: rgb(84 79 60);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(109 103 83);
  --md-sys-color-on-tertiary-container: rgb(239 230 205);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(252 249 246);
  --md-sys-color-on-background: rgb(27 28 26);
  --md-sys-color-surface: rgb(252 248 248);
  --md-sys-color-on-surface: rgb(28 27 27);
  --md-sys-color-surface-variant: rgb(223 227 225);
  --md-sys-color-on-surface-variant: rgb(67 72 70);
  --md-sys-color-outline: rgb(115 120 118);
  --md-sys-color-outline-variant: rgb(195 199 197);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 48);
  --md-sys-color-inverse-on-surface: rgb(244 240 239);
  --md-sys-color-inverse-primary: rgb(192 202 179);
  --md-sys-color-primary-fixed: rgb(220 230 207);
  --md-sys-color-on-primary-fixed: rgb(22 30 15);
  --md-sys-color-primary-fixed-dim: rgb(192 202 179);
  --md-sys-color-on-primary-fixed-variant: rgb(65 73 56);
  --md-sys-color-secondary-fixed: rgb(224 228 216);
  --md-sys-color-on-secondary-fixed: rgb(25 29 22);
  --md-sys-color-secondary-fixed-dim: rgb(196 200 189);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 72 64);
  --md-sys-color-tertiary-fixed: rgb(235 226 201);
  --md-sys-color-on-tertiary-fixed: rgb(31 27 12);
  --md-sys-color-tertiary-fixed-dim: rgb(206 198 174);
  --md-sys-color-on-tertiary-fixed-variant: rgb(76 71 52);
  --md-sys-color-surface-dim: rgb(221 217 217);
  --md-sys-color-surface-bright: rgb(252 248 248);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(246 243 242);
  --md-sys-color-surface-container: rgb(241 237 236);
  --md-sys-color-surface-container-high: rgb(235 231 231);
  --md-sys-color-surface-container-highest: rgb(229 226 225);
}
